/* 
Effacer tout le style par défaut
du navigateur que je ne souhaite
pas avoir sur mon site
*/


a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* Réinitialisaton global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, input{
  border-width: 0;
  background-color: transparent;
}

